.continent-button {
  border: none;
  cursor: pointer;
  width: 143px;
  height: 42px;
  border-radius: 5px;
  background-color: #c0c0c0;
  color: rgb(0, 0, 0);
}

.continent-button:hover {
  color: white;
  background-color: #ecb200;
}
